/* headings */
h1{
    font-family: sans-serif;
    display: flex;
    font-size: 40px;
    justify-content: center;
    color: rgb(14, 167, 167);
    padding: 20px;
}
h3{
    font-family: sans-serif;
}
p{
    margin-right: -45px;
}
/* inputs */
input{
    height: 30px;
    margin-left: 10px;
    background-color: rgb(248, 234, 234);
    border: none;
    border-radius: 2px;
}
.save input{
width: 80px;
margin-right: 10px;
}

/* buttons */
button{
    background-color: rgb(24, 140, 207);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    margin-left: 60px;
    color: white;
    font-weight: 800;
}
.btn-save button{
    position: relative;
    left: 140px;
}

.main{
    display: flex;
}

.left-sec{
    width: 70%;
}
.right-sec{
    width:30%;
}
.h3-texts{
    margin-left: 80px;
    margin-bottom: -10px;
    font-family: sans-serif;
}
.text-style{
    margin-left: 60px;
    margin-bottom: -10px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    width:650px;
    height: 700px;
    margin-left: 100px;
}

.income{
    display: flex;
    align-items: center;
    margin: 5px;
    
}
.income-sm{
    margin-left: 20px;
}
.income-percent{
    display: flex;
    align-items: center;
    margin-top: 30px;
    
   
}
.income-percent input{
    width: 80px;
}


/* responsive for mobile only */
@media (max-width:480px) {
    header{
        display: flex;
        justify-content: center;
    }
    h1{
        font-size: 20px;
        
        
       
    }
    .main{
        display: block;
    }
    .left-sec{
        margin: 0;
        padding: 0;
        display: block;
        justify-content: center;
    }
    .left-sec img{
        width: 238px;
        height: 200px;
    }
    .right-sec{
        margin: 0;
        padding: 0;
        display: block;
        width: 90%;
        justify-content: center;
        margin-right: 50px;
        position: absolute;
        left: 40px;
    }
};